form.check-now {
    margin: 20px 0;
}

.btn-primary.check-now {
    margin: 20px 0;
}

h2 {
    margin: 20px 0;
}

table tr {
    line-height: 30px;
}

.jumbotron {
    text-align: center;
}

table {
    width: 300px;
    margin: auto;
}

.input-group-lg {
    width: 300px;
    margin: auto;
}