html
    head 
    title Star Ships
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/static/css/index.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    body
        div(class="container-box")      
            div(class="jumbotron", style="padding:40px;")
                h1 Check SparShips stops
                form(action="/starships", method="get", class="check-now")
                    div(class="input-group input-group-lg")
                        input(type="number", name="mglt", class="form-control", aria-label="Large", aria-describedby="inputGroup-sizing-sm")
                    button(class="check-now btn btn-primary btn-lg", type="submit", role="button") Check Now!
            if stops
                div(class="jumbotron", style="padding:40px;")
                    h2 These are the stops for #{mglt} MGLT
                    table
                        thead
                            tr
                                th(scope="col") Starship Name
                                th(scope="col") Stops
                        tbody
                        each stop in stops
                            tr
                                td= stop.name
                                td= stop.stops

